<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:compat="http://schemas.android.com/apk/res-auto"
    package="com.example.contactmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".ContactListView"
            android:label="@string/app_name" >
            <intent-filter android:label="@string/actionBar_appName">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddContact"
            android:label="@string/title_activity_add_contact"
            android:logo="@drawable/ic_action_person"
            android:parentActivityName=".ContactListView"
            android:windowSoftInputMode="adjustPan|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.contactmanager.ContactListView" />

        </activity>
        <activity
            android:name=".EditActivity"
            android:label="@string/title_activity_edit"
            android:parentActivityName=".ContactListView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.contactmanager.ContactListView" />
        </activity>
    </application>

</manifest>